section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

#root{
    width: 100VW;
    height: 100vh;
    background-color: aqua;
    margin: 0;
}

*{
    margin: 0;
}
