.input{ 
    width: 60%;
    height: auto;
    display: flex;
    align-items: center;
    position: relative;
}

input{
    width: 12em;
    height: 45em;
    text-indent: 2em;

}

input::placeholder{
    text-indent: 2em;
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 80%;
    position: absolute;
    right: 0px;
    border-radius: 50%;
    margin-right: 0.5em;
}


.input_box{
    width: 100%;
    height: 2em;
    border-radius: 10em;
    
}