.todo-box{
    box-sizing: border-box;
    display: flex;
    width: 30em;
    height: 3em;
    padding: 1em;
    border-radius: 0.5em;
    justify-content: space-between;
    align-items: center;
    background-color: yellowgreen;

}

.icons{
    width: 2.4em;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
}